import { Column, CreateDateColumn, Entity, PrimaryGeneratedColumn, UpdateDateColumn } from "typeorm";

@Entity()
export class {{FeatureName}} {
   @PrimaryGeneratedColumn()
   id: number;

   @Column({ type: "text" })
   name: string;

   @CreateDateColumn()
   createdAt: Date;

   @UpdateDateColumn()
   updatedAt: Date;
};