import { Router } from "express";
import { authGuard } from "../middlewares/auth.guard";
import { validateKey } from "../config/api-key.config";
import { validate } from "../middlewares/validate-request";
import {{FeatureName}}Controller from "../controllers/{{featureName}}/{{featureName}}.controller";
import { create{{FeatureNameCamel}}Validator } from "../middlewares/validators/{{featureName}}.validator";


const router = Router();

router.post(
   "/",
   validateKey,
   authGuard(),
   create{{FeatureNameCamel}}Validator,
   validate,
   {{FeatureName}}Controller.create{{FeatureNameCamel}}
)

export default router;